::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
html {
  overflow-x: hidden;
}
* {
  word-break: break-word;
}
.rs-home-animation-1 {
  -webkit-transform: translate3d(0, 55vh, 0) scale3d(1, 1, 1) rotateX(0)
    rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform: translate3d(0, 55vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  -ms-transform: translate3d(0, 55vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  transform: translate3d(0, 55vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
}
.rs-home-animation-2 {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(35deg) skew(0, 0);
  -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(35deg) skew(0, 0);
  -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(35deg) skew(0, 0);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(35deg) skew(0, 0);
}

.rs-header-animation-1 {
  -webkit-transform: translate3d(0, 0vh, 0) scale3d(1, 1, 1) rotateX(0)
    rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform: translate3d(0, 0vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  -ms-transform: translate3d(0, 0vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  transform: translate3d(0, 0vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  display: flex;
}
.rs-header-animation-2 {
  -webkit-transform: translate3d(0, 0, 0) scale3d(0.01, 0.01, 1) rotateX(0)
    rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform: translate3d(0, 0, 0) scale3d(0.01, 0.01, 1) rotateX(0)
    rotateY(0) rotateZ(0) skew(0, 0);
  -ms-transform: translate3d(0, 0, 0) scale3d(0.01, 0.01, 1) rotateX(0)
    rotateY(0) rotateZ(0) skew(0, 0);
  transform: translate3d(0, 0, 0) scale3d(0.01, 0.01, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  display: none;
  opacity: 0;
}

.leaderboard {
  .grid-hold {
    .name {
      margin-right: 0px;
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      width: 100%;
    }
    .image-profile {
      width: 69px;
      height: 69px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.rs-leaderboard-1 {
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0deg) skew(0, 0);
  -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0deg) skew(0, 0);
  -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0deg) skew(0, 0);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0deg) skew(0, 0);
}
.send-trade-popup-1 {
  -webkit-transform: translate3d(0, 5em, 0) scale3d(1, 1, 1) rotateX(0)
    rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform: translate3d(0, 5em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  -ms-transform: translate3d(0, 5em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  transform: translate3d(0, 5em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
}

.rol-s-stash {
  min-height: 100vh;
  .share-popup,
  .send-trade-popup {
    &.isOpen {
      display: flex;
    }
  }
  .collection-list-wrapper-6 {
    width: 100%;
  }
  .w-form-done {
    display: block;
  }
}
.meta-button {
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: #000000;
    transition: all 0.4s ease-in-out;
    p {
      color: #ffffff;
    }
  }
}
.kbutton {
  align-items: center;
}
button {
  &:disabled {
    &:hover {
      cursor: not-allowed;
    }
  }
}
button {
  &.link {
    background-color: transparent;
    padding: 0;
  }
  &.rs-link {
    background-color: transparent;
    padding: 0;
  }
}
.k-header-left {
  margin-right: 2.5em;
}
.koala-img-insert {
  left: 48%;
}
.edit-popup {
  &.isOpen {
    display: flex;
  }
}

.rs-modal {
  display: flex;
}

.rs-form {
  .rs-edit-input {
    appearance: none;
    border: 0;
    background-color: transparent;
    max-width: 200px;
    border-top: 0;
    border-left: 0;
    border-left: 0;
    border-bottom: 1px solid #000000;
    &:focus{
      outline: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .k-header-left {
    margin-right: 0em;
  }
  .rs-edit-input {
    max-width: 300px;
  }
}
